.m-t-20{
    margin-top: 20px;
}

.form-control.input-buscar {
    background-image: url("../images/icones/16x16/busca.png");
    background-repeat: no-repeat;
    background-position: 98% 8px;
    padding-right: 25px;
}