.margin-top-20 {
    margin-top: 20px!important;
}

.margin-top-50 {
    margin-top: 50px!important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.form-control.input-buscar {
    background-image: url("../images/icones/16x16/busca.png");
    background-repeat: no-repeat;
    background-position: 98% 8px;
    padding-right: 25px;
}

.padding-zero {
    padding-left: 0px;
    padding-right: 0px;
}

.card-dashboard {
    margin-bottom: 20px;
    border: 0;
    max-height: 92px;
}

.icon-dashboard.fa-3x {
    font-size: 39px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.numero-card {
    font-size: 27px;
    margin-top: 0;
}

.ajusta-padding-card-dashboard {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.bg-primary {
    background-color: #328aba;
    color: #ffffff !important;
}

.bg-primary-escuro {
    background-color: #2c81b3;
    color: #ffffff !important;
    border-radius: 4px;
}

.bg-roxo {
    background-color: #6a5c9f;
    color: #ffffff !important;
}

.bg-roxo-escuro {
    background-color: #5c4a99;
    color: #ffffff !important;
    border-radius: 4px;
}

.bg-verde {
    background-color: #4ebb95;
    color: #ffffff !important;
}

.bg-verde-escuro {
    background-color: #44b08a;
    color: #ffffff !important;
    border-radius: 4px;
}

.bg-laranja {
    background-color: #ea904e;
    color: #ffffff !important;
}

.bg-laranja-escuro {
    background-color: #df8742;
    color: #ffffff !important;
    border-radius: 4px;
}

.bg-amarelo {
    background-color: rgb(174, 111, 5);
    color: #ffffff !important;
}

.bg-amarelo-escuro {
    background-color: rgb(143, 91, 3);
    color: #ffffff !important;
}

.selecao-totalizador {
    margin-right: 0px;
    cursor: pointer;
}

.selecao-totalizador:hover {
    box-shadow: 0px 0px 16px 0px rgba(200, 200, 200, 0.98);
}

.container-aplicacao {
    padding-top: 50px;
    width: 100%;
}

@media screen and (min-width: 1250px) {
    .container-aplicacao {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 991px) {
    .container-aplicacao {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .container-aplicacao {
        padding-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .container-aplicacao {
        padding-top: 80px;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 990px) {
    .container-aplicacao {
        padding-left: 10px;
        padding-right: 10px;
    }
}
