.box_busca_menu {
    float: left;
    padding-top: 10px;
}

header {
    float: left;
    width: 100%;
    background-color: #00785f;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
    z-index: 111;
    position: fixed;
}

.img-logo-header {
    width: 153px;
    margin-top: 10px;
}

.badge.num-notificacao {
    top: -15px;
    margin-left: -13px;
    z-index: 111;
    position: relative;
    background-color: #FF6961;
    color: #fff;
}

.nav_header {
    float: left;
    margin: 0;
}

.nav-tabs {
    border: none;
}

.fa.i-notificacao {
    color: #ffffff;
    font-size: 24px;
}

.link_icones_top {
    float: right;
    font-size: 25px;
    margin: 7px 0 0 15px;
}

.ul_usuario {
    border-left: 1px solid #00785f;
    border-right: 1px solid #00785f;
    margin: 0 0 0 15px;
}

.usuario {
    text-transform: uppercase;
}

.btn-usuario-sair {
    float: right;
    margin-right: 9px;
}

.navbar-default.navbar-default-web {
    background: #00785f;
}

.navbar-default-web {
    margin-bottom: 0px;
    border-color: #00785f;
}

.btn-sair-menu-top {
    float: right;
    margin-right: 9px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #00785f!important;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff!important;
}

@media screen and (min-width: 1250px) {
    header {
        padding-left: 15px;
        padding-right: 15px;
    }
}