<div class="col-md-10 col-md-offset-1">
    <h1 class="h1-web margin-top-50">Dashboard</h1>
</div>

<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-3">
            <card-totalizador id="tot-1" descricao="Pedra" icone="fa-hand-rock-o" quantidade="10" classe-primaria="bg-primary" classe-secundaria="bg-primary-escuro"
                clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        </div>
        <div class="col-md-3">
            <card-totalizador id="tot-2" descricao="Papel" icone="fa-hand-paper-o" quantidade="25" classe-primaria="bg-roxo" classe-secundaria="bg-roxo-escuro"
                clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        </div>
        <div class="col-md-3">
            <card-totalizador id="tot-3" descricao="Tesoura" icone="fa-hand-scissors-o" quantidade="32" classe-primaria="bg-verde" classe-secundaria="bg-verde-escuro"
                clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        </div>
        <div class="col-md-3">
            <card-totalizador id="tot-4" descricao="Lagarto" icone="fa-hand-lizard-o" quantidade="46" classe-primaria="bg-laranja" classe-secundaria="bg-laranja-escuro"
                clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <card-totalizador id="tot-5" descricao="Spock" icone="fa-hand-spock-o" quantidade="17" classe-primaria="bg-amarelo" classe-secundaria="bg-amarelo-escuro"
                clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        </div>
    </div>
</div>