<div class="col-md-10 col-md-offset-1">
    <h1 class="h1-web margin-top-50">Dashboard</h1>
</div>

<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <card-totalizador id="tot-1" quantidade="10" classe-primaria="bg-primary" classe-secundaria="bg-primary-escuro" clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        <card-totalizador id="tot-2" quantidade="25" classe-primaria="bg-roxo" classe-secundaria="bg-roxo-escuro" clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        <card-totalizador id="tot-3" quantidade="32" classe-primaria="bg-verde" classe-secundaria="bg-verde-escuro" clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
        <card-totalizador id="tot-4" quantidade="46" classe-primaria="bg-laranja" classe-secundaria="bg-laranja-escuro" clique-totalizador="dashboardCtrl.exibirMensagem(identificador)"></card-totalizador>
    </div>
</div>