<!doctype html>
<html ng-app="web-patterns">

<head>
  <base href="/" />
  <title>Web-Patterns</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="description" content="My awesome application">
  <meta name="keywords" content="Todo,myAwesomeApp,App">
  <meta name="author" content="Author">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/ico" href="./favicon.png" />
  <link type="text/css" rel="stylesheet" href="./bower_components/fontawesome/css/font-awesome.min.css?rev=@@hash" />
  <link type="text/css" rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css?rev=@@hash" />
  <link type="text/css" rel="stylesheet" href="./comum/styles/header.css?rev=@@hash" />
  <link type="text/css" rel="stylesheet" href="./comum/styles/app.css?rev=@@hash" />
  <link type="text/css" rel="stylesheet" href="./comum/styles/geral.css?rev=@@hash" />
</head>

<body>
  <header class="hidden-print">
    <div class="container-fluid">
      <div class="navbar-default navbar-default-pcp" role="navigation">
        <div class="col-md-2 col-sm-11 col-xs-10">
          <a href="./principal.html#/">
            <img src="comum/images/logo.png" alt="Alterdata Wise PCP" title="Alterdata Wise PCP" border="0" class="img-logo-header" />
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse visible-md visible-lg">
          <nav class="nav_header col-md-6 col-sm-12 offset-0-left offset-0-right">
            <ul class="nav navbar-nav">
              <li class="text-center">
                <a href="./principal.html#/">Dashboard</a>
              </li>
              <li role="presentation" class="dropdown text-center">
                <a class="dropdown-toggle" href="#" role="button" aria-expanded="false">
                                    Cadastros <span class="caret"></span>
                                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#/clientes">Clientes</a></li>
                </ul>
              </li>
              <li class="text-center visible-xs visible-sm">
                <a href="" title="Ajuda" alt="Ajuda">Ajuda</a>
              </li>
            </ul>
            <button type="button" class="retira_borda hide btn btn-primary visible-xs visible-sm btn-block">
                SAIR
            </button>
          </nav>

          <div class="col-md-4 col-sm-4 col-xs-12 offset-0-left offset-0-right">
            <a href="http://help.alterdata.com.br/display/WISEPCP/Wise+PCP" target="_blank" class="link_icones_top hidden-xs hidden-sm">
              <img src="images/icones/24x24/ajuda_mono.png" width="24" height="24" border="0" alt="Ajuda" title="Ajuda" />
            </a>
            <ul class="ul_usuario nav navbar-nav hidden-xs hidden-sm  pull-right">
              <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-target="#teste1" aria-expanded="false">
                  <img ng-src="{{rootCtrl.getAvatar()}}" width="24" height="24" border="0" alt="Usuário" title="Usuário" class="avatar-usuario"
                    ng-if="rootCtrl.usuarioSemAvatar == false" />
                  <img src="images/icones/24x24/usuario_mono.png" width="24" height="24" border="0" alt="Usuário" title="Usuário" class="avatar-usuario"
                    ng-if="rootCtrl.usuarioSemAvatar == true" />
                  <!--<span class="usuario" ng-bind="rootCtrl.getUsuario()"></span>--><span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" id="teste1">
                  <li>
                    <a href="#"></a>
                  </li>
                  <li><a href="#" class=""><strong>Usuário: </strong> <span class="small" ng-bind="rootCtrl.getUsuario()"></span></a></li>
                  <li ng-if="rootCtrl.getIdentificadorEmpresa()"><a href="#" class=""><strong>Empresa: </strong> <span class="small" ng-bind="rootCtrl.getIdentificadorEmpresa()"></span></a></li>
                  <li class="divider"></li>
                  <button ng-if="rootCtrl.getIdentificadorEmpresa()" type="button" class="btn-sair-menu-top btn btn-padrao-pcp pull-left margin-left-10"
                    ng-click="rootCtrl.trocarEmpresa()">Trocar empresa</button>
                  <button type="button" class="btn-sair-menu-top btn btn-padrao-pcp" ng-click="rootCtrl.signOut()">Sair</button>
                </ul>
              </li>
            </ul>

            <div class="dropdown notificacao-top hidden-xs hidden-sm" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">
              <a href="#" id="configuracaoLabel" role="button" aria-haspopup="true" aria-expanded="false" class="btn-link dropdown-toggle"
                data-target="#configuracao" title="Opções">
                <i class="fa fa-gear i-notificacao"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-notificacao" role="menu" aria-labelledby="configuracaoLabel" id="configuracao">
                <li><span class="glyphicon glyphicon-triangle-top setinha-dropdown"></span></li>
                <li role="presentation"><a href="#/configuracao">Configurações</a></li>
                <li role="presentation"><a href="#/relacaoDeOcorrencias">Relação de ocorrências</a></li>
                <li role="presentation" ng-if="!rootCtrl.sistemaIntegrado"><a href="#/alinhamentoDeSaldos">Alinhamento de saldos</a></li>
                <li role="presentation"><a href="#/sobre">Sobre o Wise PCP</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="aplicacao_geral">
    <div class="container-fluid">
      <section class="row">
        <!-- ******************** Menu Mobile ********************** -->
        <div ng-class="{'menu-mobile-visivel':rootCtrl.menuMobileVisivel}" class="menu-mobile hidden-print">
          <div class="logo-menu-mobile col-xs-12">
            <a href="./principal.html" ng-click="rootCtrl.ativaMenuMobile()">
              <img src="images/logo_wise_230.png" alt="Alterdata Wise PCP" title="Alterdata Wise PCP" border="0" />
            </a>
          </div>
          <ul class="nav nav-pills nav-stacked ul-menu-mobile">

            <li class="sub-categoria-menu" ng-if="rootCtrl.validarAcesso('perfil.acessar',
                                                          'usuario.acessar',
                                                          'setor.acessar',
                                                          'centroproducao.acessar',
                                                          'especialidade.acessar',
                                                          'operador.acessar',
                                                          'generoequipamento.acessar',
                                                          'equipamento.acessar',
                                                          'unidade.acessar',
                                                          'produto.acessar',
                                                          'operacao.acessar',
                                                          'custoindiretoproducao.acessar',
                                                          'referencia.acessar',
                                                          'roteiroproducao.acessar',
                                                          'fichatecnica.acessar')">Cadastros</li>

            <li class="li-menu-mobile"><a href="#/perfis" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('perfil.acessar')">Perfis</a></li>
            <li class="li-menu-mobile"><a href="#/usuarios" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('usuario.acessar')">Usuários</a></li>
            <li class="li-menu-mobile"><a href="#/setores" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('setor.acessar')">Setores</a></li>
            <li class="li-menu-mobile"><a href="#/centroProducao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('centroproducao.acessar')">Centros de produção </a></li>
            <li class="li-menu-mobile"><a href="#/especialidades" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('especialidade.acessar')">Especialidades</a></li>
            <li class="li-menu-mobile"><a href="#/operadores" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('operador.acessar')">Operadores</a></li>
            <li class="li-menu-mobile"><a href="#/generoequipamentos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('generoequipamento.acessar')">Gêneros de equipamentos</a></li>
            <li class="li-menu-mobile"><a href="#/equipamentos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('equipamento.acessar')">Equipamentos</a></li>
            <li class="li-menu-mobile"><a href="#/unidade" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('unidade.acessar')">Unidades</a></li>
            <li class="li-menu-mobile"><a href="#/produtos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('produto.acessar')">Produtos</a></li>
            <li class="li-menu-mobile"><a href="#/operacoes" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('operacao.acessar')">Operações</a></li>
            <li class="li-menu-mobile"><a href="#/custosIndiretosDeProducao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('custoindiretoproducao.acessar')">Custos indiretos de produção</a></li>
            <li class="li-menu-mobile"><a href="#/referencias" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('referencia.acessar')">Referências</a></li>
            <li class="li-menu-mobile"><a href="#/roteiroProducao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('roteiroproducao.acessar')">Roteiros de produção</a></li>
            <li class="li-menu-mobile"><a href="#/fichaTecnica" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('fichatecnica.acessar')">Fichas técnicas</a></li>

            <li class="sub-categoria-menu" ng-if="rootCtrl.validarAcesso('pedidoproducao.acessar',
                                                          'gerarordemproducaomanual.acessar',
                                                          'gerarordemproducaopedido.acessar',
                                                          'gerarordemproducaobeneficiamento.acessar',
                                                          'planejamentoproducao.acessar',
                                                          'requisicaomaterial.acessar',
                                                          'separacaomaterial.acessar',
                                                          'inicioproducao.acessar',
                                                          'apontamentoproducao.acessar',
                                                          'reporteproducao.acessar',
                                                          'consultarordem.acessar',
                                                          'relatorioproducao.acessar',
                                                          'relatorioordemproducao.acessar')">Produção</li>

            <li class="li-menu-mobile"><a href="#/pedidos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('pedidoproducao.acessar')">Pedidos de produção</a></li>
            <li class="li-menu-mobile"><a href="#/gerarOrdemProducaoManual" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('gerarordemproducaomanual.acessar')">Gerar ordens de produção manual</a></li>
            <li class="li-menu-mobile"><a href="#/gerarOrdemProducaoPorPedido" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('gerarordemproducaopedido.acessar')">Gerar ordens de produção por pedido</a></li>
            <li class="li-menu-mobile"><a href="#/gerarOrdemProducaoPorBeneficiamento" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('gerarordemproducaobeneficiamento.acessar')">Gerar ordens de produção por beneficiamento</a></li>
            <li class="li-menu-mobile"><a href="#/planejamentosDeProducao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('planejamentoproducao.acessar')">Planejamentos de produção</a></li>
            <!--<li class="li-menu-mobile"><a href="#/requisicaoMateriais" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('requisicaomaterial.acessar')">Requisição de materiais</a></li>-->
            <li class="li-menu-mobile"><a href="#/separacaoMateriais" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('separacaomaterial.acessar')">Separação de materiais</a></li>
            <li class="li-menu-mobile"><a href="#/apontamentoProducao/inicio" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('inicioproducao.acessar')">Início de produção</a></li>
            <li class="li-menu-mobile"><a href="#/apontamentoProducao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('apontamentoproducao.acessar')">Apontamento de produção</a></li>
            <li class="li-menu-mobile"><a href="#/apontamentoProducao/reporte" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('reporteproducao.acessar')">Reporte de produção</a></li>

            <li class="sub-categoria-menu" ng-if="rootCtrl.validarAcesso('consultarordem.acessar',
                                                           'consultaproducao.acessar',
                                                           'consultaproducao.acessar',
                                                           'consultaestoqueproduto.acessar')">Consultas</li>

            <li class="li-menu-mobile"><a href="#/ordensDeProducao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('consultarordem.acessar')">Consulta de ordens de produção</a></li>
            <li class="li-menu-mobile"><a href="#/relatoriosProducaoDiaria" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('relatorioproducao.acessar')">Consulta de produção diária</a></li>
            <li class="li-menu-mobile" role="presentation"><a href="#/consultaDeDocumentos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">Consulta de documentos</a></li>
            <li class="li-menu-mobile" role="presentation"><a href="#/consultaDeDocumentos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">Consulta de estoque por produto</a></li>


            <li class="sub-categoria-menu" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">Opções</li>

            <li role="presentation"><a href="#/configuracao" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">Configurações</a></li>
            <li role="presentation"><a href="#/relacaoDeOcorrencias" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">Relação de ocorrências</a></li>
            <li role="presentation" ng-if="!rootCtrl.sistemaIntegrado"><a href="#/alinhamentoDeSaldos" ng-click="rootCtrl.ativaMenuMobile()" ng-if="rootCtrl.validarAcesso('configuracao.acessar')">Alinhamento de saldos</a></li>
            <li role="presentation"><a href="#/sobre" ng-click="rootCtrl.ativaMenuMobile()">Sobre o WisePCP</a></li>

            <li role="presentation">
              <button type="button" class="btn-sair-menu-top btn btn-padrao-pcp btn-block margin-bottom-15" ng-click="rootCtrl.signOut()">Sair</button>
            </li>



          </ul>
        </div>
        <!--********************Fim Menu Mobile**********************-->
        <div ng-view="">
        </div>
      </section>
    </div>
  </section>

  <footer class="footer">
    <div class="container-fluid">
      <p class="p_footer">©1989 - 2017 - Alterdata Software - Direitos reservados</p>
      <div class="logofooter">
        <a href="http://www.alterdata.com.br/" target="_blank">
          <img src="comum/images/logo_branco.png" class="img-logo-footer" alt="Alterdata Software" title="Alterdata Software" border="0">
        </a>
      </div>
    </div>
  </footer>

  <script>
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      },
        i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

    ga("create", "UA-XXXXX-X", "auto");
    ga("send", "pageview");
  </script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js?rev=@@hash"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js?rev=@@hash"></script>
  <script type="text/javascript" src="./bower_components/angular/angular.js?rev=@@hash"></script>
  <script type="text/javascript" src="./bower_components/angular-route/angular-route.js?rev=@@hash"></script>
  <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js?rev=@@hash"></script>
  <script type="text/javascript" src="./app.js?rev=@@hash"></script>
  <script type="text/javascript" src="./app.config.js?rev=@@hash"></script>
  <script type="text/javascript" src="./app.route.js?rev=@@hash"></script>
  <script type="text/javascript" src="./cliente/models/clienteModel.js?rev=@@hash"></script>
  <script type="text/javascript" src="./cliente/resources/clienteResource.js?rev=@@hash"></script>
  <script type="text/javascript" src="./cliente/services/clienteService.js?rev=@@hash"></script>
  <script type="text/javascript" src="./cliente/controllers/clienteCadastroController.js?rev=@@hash"></script>
</body>

</html>